body{
    height: 660px;
    width: 100%;
    margin: 0px;
    padding: 0px;
	background: lightgray;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("./img/img4.jpg") rgba(0,0,0,0.6);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.head{
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}
.head h3{
	margin-left: 50px;
	font-size: 1.4rem;
}
nav{
	margin-left: auto;
	margin-top: 30px;
}
nav a{
	text-decoration: none;
	color: #fff;
	margin: 20px;
}
.text h1{
	margin-left: 50px;
	font-size: 2.4rem;
	text-transform:uppercase; 
}
.text h3{
	margin-left: 50px;
	font-size: 1em;
	color: #B6BABB;
}
.text input{
	margin-left: 50px;
	height: 35px;
	width: 275px;
	border-radius: 2px;
	border:10px #fff;
}
.text button{
	margin-left: 20px;
	height: 38px;
	width: 220px;
	background-color: #FE564E;
	border:10px #FE564E;
	border-radius: 2px;
	color:#fff;
}
/*
@import url('https://fonts.googleapis.com/css?family=Satisfy');
'Satisfy', cursive;
@import url('https://fonts.googleapis.com/css?family=Courgette');
'Courgette', cursive;
background-image: linear-gradient(to top, #7599EF, #C6C3FD);
body{
	margin: 0px;
	padding: 0px;
	background: #F9DCD6;
	font-family: 'Courgette', cursive;
	color: #fff;
}
.container-fluid{
	height: 500px;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../../../assets/img/bg3.jpg") rgba(0,0,0,0.1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:#CCC6C6;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	position: relative;
}

.container{
	padding: 70px;
}

#about h1{
	color: #FE0266;
	font-family: 'Satisfy', cursive;
	font-weight: bold;
	font-size: 2.8em;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
#about p{
	font-size: 1.4em;
	text-align: justify-all;
	color: #343498;
}

#img{
	height: 320px;
	width: 100%;
	background-image: url("../../../assets/img/about1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.9);
	border-radius: 5px;
}
*/